{% extends 'dashboard/base.html' %}
{% block body %}
<div class="app-shell">
  {% include 'dashboard/partials/sidebar.html' %}
  <div class="main-content">
    {% include 'dashboard/partials/topbar.html' %}
    <div class="content-inner">
      <div class="wizard-shell">
        {% include 'dashboard/partials/messages.html' %}
        {% block steps %}{% include 'registrations/partials/steps.html' with step=step skip_search=skip_search %}{% endblock %}
        <div class="card wizard-card">
          {% block wizard_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
